.link-tool {
  position: relative;

  &__input {
    padding-left: 38px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 641 640'%3E%3Cpath fill='%235C6B7A' fill-rule='nonzero' d='M161.356 300.658c16.535-17.067 39.341-26.17 63.288-26.17 23.946 0 46.752 9.103 63.857 26.17l6.842 6.258 12.543-12.516-6.841-6.258c-17.105-17.066-26.228-39.822-26.228-64.284 0-23.894 9.123-46.08 26.228-63.147l70.129-70.542C387.708 73.67 410.514 64 434.46 64c24.517 0 46.753 9.102 63.857 26.169l52.455 52.907C567.877 160.142 577 182.329 577 206.79c0 23.893-9.123 46.649-26.227 63.716l-70.13 69.973c-17.674 16.498-39.91 26.169-63.857 26.169-23.946 0-46.182-9.102-63.857-26.169l-5.702-6.827-13.113 12.516 6.271 6.827c16.535 16.497 26.227 39.822 26.227 63.715s-9.692 46.649-26.227 63.147l-68.989 69.973C253.722 566.33 231.486 576 207.54 576c-23.947 0-46.183-9.102-63.857-26.169l-52.455-52.338C74.123 479.858 65 457.671 65 433.21c0-23.893 9.123-46.08 26.227-63.147l70.13-69.404Zm232.054 0c12.543 12.515 35.35 12.515 48.463 0l68.989-69.974c6.842-6.826 10.263-14.79 10.263-23.893 0-9.102-3.421-17.635-10.263-23.893l-53.025-52.907c-5.701-6.258-14.824-9.671-23.946-9.671-9.123 0-17.675 3.413-23.947 9.671l-70.129 69.973c-6.272 6.827-9.692 14.792-9.692 23.894 0 9.102 3.42 17.635 9.692 24.462l6.842 6.258 32.499-32.427c10.263-10.809 28.508-10.809 39.91 0 10.834 10.809 10.834 28.445 0 39.822L386.569 294.4l6.842 6.258Zm-272.535 132.55c0 9.672 3.421 18.205 9.693 24.463l52.454 52.907c12.544 12.515 34.78 12.515 47.893 0l70.13-70.542c6.271-6.258 10.262-14.792 10.262-23.894 0-9.102-3.99-17.635-10.262-23.893l-6.272-6.827s-31.359 31.29-33.07 32.427c-10.832 10.809-28.507 10.809-39.34 0-11.403-10.809-11.403-28.445 0-39.822.57-1.707 32.499-32.427 32.499-32.427l-6.842-6.258c-5.702-6.826-14.824-10.24-23.946-10.24-9.123 0-17.675 3.982-23.947 10.24l-70.13 69.405c-5.7 7.395-9.122 15.36-9.122 24.462Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 16px 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &-holder {
      position: relative;

      &--error {
        ^^& {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='rgb(224, 147, 147)' stroke-linecap='round' stroke-width='2' d='m7.7 12.6-.021.02a2.795 2.795 0 0 0-.044 4.005v0a2.795 2.795 0 0 0 3.936.006l1.455-1.438a3 3 0 0 0 .34-3.866l-.146-.207'/%3E%3Cpath stroke='rgb(224, 147, 147)' stroke-linecap='round' stroke-width='2' d='m16.22 11.12.136-.14c.933-.954.992-2.46.135-3.483v0a2.597 2.597 0 0 0-3.664-.32L11.39 8.386a3 3 0 0 0-.301 4.3l.031.034'/%3E%3C/svg%3E");
          background-color: #fff3f6;
          border-color: #f3e0e0;
          color: #a95a5a;
          box-shadow: inset 0 1px 3px 0 rgba(146, 62, 62, 0.05);
        }
      }
    }

    &[contentEditable="true"][data-placeholder]::before {
      position: absolute;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      opacity: 0;
    }

    &[contentEditable="true"][data-placeholder]:empty {
      &::before {
        opacity: 1;
      }

      &:focus::before {
        opacity: 0;
      }
    }
  }

  &__progress {
    position: absolute;
    box-shadow: inset 0 1px 3px 0 rgba(102, 85, 107, 0.04);
    height: 100%;
    width: 0;
    background-color: #f4f5f7;
    z-index: -1;

    &--loading {
      -webkit-animation: progress 500ms ease-in;
      -webkit-animation-fill-mode: forwards;
    }

    &--loaded {
      width: 100%;
    }
  }

  &__content {
    display: block;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #fff;
    color: initial !important;
    text-decoration: none !important;

    &::after {
      content: "";
      clear: both;
      display: table;
    }

    &--rendered {
      background: #fff;
      border: 1px solid rgba(201, 201, 204, 0.48);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      will-change: filter;
      animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);

      &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
      }
    }
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 30px;
    width: 65px;
    height: 65px;
    border-radius: 3px;
    float: right;
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0 0 10px 0;

    + ^&__anchor {
      margin-top: 25px;
    }
  }

  &__description {
    margin: 0 0 20px 0;
    font-size: 15px;
    line-height: 1.55em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__anchor {
    display: block;
    font-size: 15px;
    line-height: 1em;
    color: #888 !important;
    border: 0 !important;
    padding: 0 !important;
  }
}

@keyframes link-in {
  from {
    filter: blur(5px);
  }

  to {
    filter: none;
  }
}

.codex-editor--narrow .link-tool__image {
  display: none;
}

@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
